.form-inputs{
    display: block;
    margin: 10px;
}
body{
    padding: 20px;
    font-family: cursive;
}
.myForm{
    padding: 10px;
    margin: 15px;
    width: 35%;
    border: 14px dotted blueviolet; 
    border-radius: 10%;
} 
label{
    padding: 5px;
    margin: 10px;
}

input,button{
    display: block;
    margin: 10px;
    height: 20px;
    width: 200px;
    border-radius: 10%;
    border: 1px solid rgb(4, 83, 4);
} 